*.log
*.pot
*.pyc
__pycache__

# No database
db.sqlite3

# Migrations folder
migrations

# Vim #
*.swp 

# Python # 
*.py[cod] 
*$py.class 

# SECRETS [NEED TO BE UPDATED]
#.env

Pipfile
Pipfile.lock
